{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading">
        {{ form_start(form) }}
            <fieldset>
                <legend class="text-center">Connection</legend>
                <div class="row">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <button type="submit" class="btn btn-outline-primary btn-block">Se connecter</button>
                </div>
            </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}