<footer class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <h3>Egérie SUN7 Boulevard</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('presentation') }}" class="d-inline-block">Présentation</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('register') }}" class="d-inline-block">Inscription</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="d-inline-block">Egérie</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="d-inline-block">Candidates</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('contact') }}" class="d-inline-block">Contact</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="d-inline-block">Partenaires</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-12 footer_logo">
            <img class="mx-auto d-block" src="{{ asset('build/images/casting-logo.png') }}" alt="Casting sun7">
        </div>
        <div class="col-md-4 col-xs-12 text-right">
            <h3>Sites partenaires</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" class="d-inline-block">Site 1</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="d-inline-block">Site 2</a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="d-inline-block">Site 3</a>
                </li>
            </ul>
        </div>
    </div>
</footer>