.md-form {
  input::placeholder {
    color: $text-color;
  }
  input {

    &:focus:not([readonly]) {
      border-bottom: 1px solid $color-gold;
      box-shadow: 0 1px 0 0 $color-gold;
      color: $text-color;
    }

    color: $text-color;
  }
}