.navbar-brand {
  height: $navbar-size;
  padding-left: 30px;

  img {
    height: $navbar-size;
  }
}

.navbar-light {
  font-weight: 800;
  padding-left: 10px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar-nav {
    transform: translateX(-120px);
  }
}