$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Lato", Roboto, "Helvetica Neue", Arial, sans-serif;
$fa-font-path: "~font-awesome/fonts";

$color-pink: #E2007A;
$color-white: #fff;
$color-black: #000;
$color-grey: #565656;
$color-gold: #b69e59;

$primary: $color-grey;
$secondary: $color-gold;
$text-color: darken($color-grey, 30%);
$body-bg: none;
$body-color: $text-color;
$navbar-light-color: $color-white;
$navbar-light-hover-color:          $color-gold !default;
$navbar-light-active-color:         $color-gold !default;
$navbar-light-disabled-color:       rgba($navbar-light-color, .3) !default;
$dropdown-bg: $color-black;
$dropdown-link-color: $color-white;
$dropdown-link-hover-color: $color-gold;
$dropdown-link-hover-bg: $color-black;
$jumbotron-bg: $body-bg;
$list-group-bg: $body-bg;
$popover-arrow-width: 16px;
$navbar-size: 90px;
$container-margin-top: 15px;