<h3>Bienvenue</h3>

<p>Pour valider vortre compte merci de suivre le lien suivant :</p>
<a href="{{ url('user_confirm', { token: user.confirmationToken }) }}">
    {{ url('user_confirm', { token: user.confirmationToken }) }}
</a>