{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading egerie">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Egérie</h2>
                <p>
                    Katarina JEVTOVIC, la gagnante de la 1ère édition à eu l’honneur de représenter la marque SUN7 BOULEVARD à l’échelle nationale. Présente sur différents supports de communication, visuels et médias, Katarina a su sublimé la marque par son charme et son élégance.
                </p>
            </div>
        </div>

    </div>
    <div class="container-fluid katarina">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center display-4 font-weight-bold">
                    Katarina JEVTOVIC
                </h3>
                <h4 class="text-center display-4">Egérie 2014</h4>
            </div>
        </div>
        <div class="card-columns">
            {% for i in 1..15 %}
                <div class="card">
                    <a href="{{ asset('build/images/katarina-jevtovic-'~ i ~'.jpg') }}" data-lightbox="katarina-jectovic" data-title="Katarina JEVTOVIC (Egerie 2014)">
                        <img
                                src="{{ asset('build/images/katarina-jevtovic-'~ i ~'.jpg') }}"
                                alt="" width="100" class="card-img-top img-fluid">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
