{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading">
        <div class="jumbotron">
            <h1 class="display-4 text-center text-uppercase">
                E&J Prod vous présente
            </h1>
            <p class="lead text-center">
                la 2ème édition du <span class="text-uppercase">casting égerie SUN7 BOULEVARD</span>
            </p>
            <hr>

            <div id="" class="text-center">
                <p>
                    En 2014, l’événement a rassemblé 320 jeunes filles venu de la France entière. 12 finalistes ont eu pendant 1 mois, le privilège de participer à de nombreux événements et shooting photos en partenariat avec <span class="text-uppercase">Sun7 Boulevard</span>.
                </p>
                <p>
                    Notre grande gagnante, Katarina Jevtovic a représenté la marque pendant 4 ans. Entre shootings photos, partenariats et défilés, son parcours avec <span class="text-uppercase">Sun7 Boulevard</span> est marqué par une participation à « Miss of the World ».
                </p>
                <p>
                    Suite au succès de l’événement, <span class="text-uppercase">Sun7 Boulevard</span> souhaite renouveler l’expérience.
                </p>
            </div>
        </div>
    </div>
    <div class="presentation">
        <div class="container embed-responsive embed-responsive-16by9 video-presentation">
            <video controls class="d-block mx-auto embed-responsive-item" autoplay>
            <source src="presentation.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="container">
        <a href="{{ path('register') }}" class="btn btn-outline-secondary btn-block text-uppercase">Inscrivez vous</a>
    </div>
{% endblock %}
