{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading">
        <div class="jumbotron">
            <h1 class="display-4 text-center text-uppercase">
                Egérie SUN7 Boulevard
            </h1>
            <p class="lead text-center">
                E & J Prod presente pour la deuxieme fois le <span class="text-uppercase">casting égerie SUN7 BOULEVARD</span>
            </p>
            <hr>

            <div id="" class="text-center">
                <p>
                    Ce casting national a pré sélectionnés 320 Jeunes filles en 2014
                </p>
                <p>
                    12 jeunes filles ont été séléctionné pendant 1 Mois elles ont eu la chance de participer à de nombreux événements shooting photos événements médiatisés ect ..
                </p>
                <p>
                    <span class="text-uppercase">Katarina Jectovic</span> grande gagnante du casting Egerie sun7 boulevard a représenté la marque pendant 2 ANS sur les supports de publicités de la marque sun7 boulevard mais sur plusieurs événements beauté dont miss of the world
                </p>
                <p>
                    Apres le succès de la première édition de nombreuses grande marques sont partenaires de l'évènements
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <video width="800" height="400" autoplay controls class="d-block mx-auto">
            <source src="casting.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container about">
        <div class="row">
            <div class="col-md-4">
                <div class="card about_about">
                    <div class="card-block">
                        <h2 class="card-title">A propos</h2>
                        <p class="card-text">
                            La candidate élue lors de la finale du Casting Accompagnera la marque SUN7BOULEVARD pour ses évènements majeurs et ses représentations. Elle participera à la fashion Week en Mai 2018 avec les finalistes
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card about_step">
                    <div class="card-block">
                        <p class="card-text">
                            La nouvelle Egerie bénéficiera du lancement de sa carrière de mannequin et d'un book professionnel. <span class="text-uppercase">L'égérie SUN 7 BOULEVARD</span> donne également l'occasion aux meilleures candidates d'être repérées par de Nombreux membre du jury Elite model, FASHION Week créateur de mode photographe
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card about_participate">
                    <div class="card-block">
                        <h2 class="card-title">Participez</h2>
                        <p class="card-text">
                            Vous pensez être <span class="text-uppercase">L'égérie SUN 7 BOULEVARD</span>, Déposez votre candidature en ligne.<br>
                            Si vous avez entre 18 et 28 ans, Etre disponible le 11 et 12 Mai pour défiler a la fashion week de Tunis . Inscrivez-vous au Casting en soumettant votre candidature sur le site CASTING SUN 7 boulevard jusqu'au Mardi 13 Fevrier 2018 et invitez tous vos amis à s'inscrire pour qu'ils votent pour vous.
                        </p>
                        <a href="#" class="btn btn-outline-secondary"><i class="fa fa-arrow-circle-o-right"></i> Inscrivez vous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contact">
        {% include 'partials/_contact.html.twig' %}
    </div>
    <div class="container-fluid partner">
        {% include 'partials/_partner.html.twig' with  { 'partners': partners}%}
    </div>
{% endblock %}
