{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading egerie">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Partenanires</h2>
                <figure>
                    <img src="{{ asset('build/images/partners.png') }}" alt="Partenaires" class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
{% endblock %}
