<div class="col-md-4 col-xs-12 text-right">
    <h3>Sites partenaires</h3>
    <ul class="list-group">
        {% for partner in partners %}
            <li class="list-group-item">
                <a href="{{ partner.site }}" target="_blank" class="d-inline-block">{{ partner.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>