{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading presentation">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Presentation</h2>
                <p>
                    La 1ère édition du Casting de l’Egérie SUN7 BOULEVARD fut un grand succès. Suite à ça, de nombreuses marques de vêtements, cosmétiques et bijoux, sont devenues partenaires de l’événement.
                </p>
                <p>
                    Cette année, la marque renouvelle l’évènement, et encore une fois nous rencontrerons toutes nos candidates et une surprise de taille attendra nos 12 jeunes filles sélectionnées : une participation à la Fashion Week de Tunis en Mai 2018 et une place pour la finale du Casting. Une chance de pouvoir se faire repérer par les nombreuses personnes influentes présentes sur l’événement (Elite Model, créateurs, photographes, comité Fashion Week).


                </p>
                <p>
                    Notre gagnante, quand à elle, se verra offrir de nombreux privilèges pour les années à venir. Plus d’informations vous seront transmises dans les semaines à venir.
                </p>
                <p>
                    Alors, vous êtes motivée ? Le feu des projecteurs ne vous fait pas peur ? La mode n’a aucun secret pour vous ? N’hésitez plus et venez tenter votre chance ! Notre équipe fera de cet événement une aventure inoubliable pour vous !
                </p>
            </div>
        </div>
    </div>
{% endblock %}
