{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid heading image-presentation">
        <img src="{{ asset('build/images/presentation.png') }}" alt="" class="img-fluid image-presentation">
    </div>
    <div class="container video-presentation embed-responsive embed-responsive-16by9">
        <video autoplay controls class="d-block mx-auto embed-responsive-item">
            <source src="presentation.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container presentation">
        <p>
            Créé en 2014, le casting <span class="text-uppercase">égérie SUN7 BOULEVARD</span> est un casting réalisé dans toute la France afin de trouver celle qui aura la chance de représenter la marque SUN7 BOULEVARD.
        </p>
        <p>
            Il y a deux ans, 12 jeunes femmes ont pendant un mois eu la chance de participer à des évènements mis en avant dans les médias, shooting photos, etc.
        </p>
    </div>
{% endblock %}
