{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading video-presentation">
        <video width="800" height="400" autoplay controls class="d-block mx-auto">
            <source src="presentation.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="container presentation">
        <p>
            Créé en 2014, le casting <span class="text-uppercase">égérie SUN7 BOULEVARD</span> est un casting réalisé dans toute la France afin de trouver celle qui aura la chance de représenter la marque SUN7 BOULEVARD.
        </p>
        <p>
            Il y a deux ans, 12 jeunes femmes ont pendant un mois eu la chance de participer à des évènements mis en avant dans les médias, shooting photos, etc.
        </p>
        <p>
            Pendant deux ans, c’est KATARINA JECTOVIC, gagnante précédente, qui a eu la chance de représenter SUN7 BOULEVARD sur les différents supports de communication, visuels et médias, ainsi que des évènements beauté comme <span class="text-uppercase">miss of the world</span>.
        </p>
        <p>
            Suite au succès de cette première édition, plusieurs grandes marques de cosmétiques, vêtements ou encore bijoux sont devenues partenaire de cet évènement national.
        </p>
        <p>
            Cette année, la candidate qui sera élue à l’issue de ce casting représentera la marque SUN7 BOULEVARD lors d’évènements importants, notamment la FASHION WEEK de mai 2018 avec les finalistes.
        </p>
        <p>
            Avec ce casting, la nouvelle égérie SUN7 BOULEVARD pourra lancer sa carrière de mannequin et bénéficier d’un book professionnel ce qui lui donnera une visibilité unique sur Lyon et toute la France. Par ailleurs, les candidates auront l’occasion d’être repérée par les membres du jury, Elite Model, des créateurs de modes, photographies ou encore la Fashion Week.
        </p>
    </div>
    <div class="container-fluid heading image-presentation">
        <img src="{{ asset('build/images/presentation.png') }}" alt="" class="img-fluid">
    </div>
{% endblock %}
