{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading presentation">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-center">Règlement</h2>
                <p>
                    Peuvent participer au casting, toute personne physique, âgée entre 18 et 28 ans à la date d’inscription au casting.
                </p>
                <p>
                    Chaque participantes déclarent être l’auteur de la photo soumise. Les photos remises par les candidates ne devront pas comporter de montage, ni être retouchées, sous peine de disqualification.
                </p>
                <p>
                    Toutes les candidatures feront l’objet d’une convocation par mail pour participer à la 1ère étape des sélections, fin mars, à Lyon. Les candidates devront alors respecter le règlement qui figurera dans le mail de convocation si elles souhaitent garantir leur participation.
                </p>
                <p>
                    La sélection s’effectuera en fonction de la photogénie, de la prestance et du charisme du candidat.
                </p>
                <p>
                    Les 80 candidates présélectionnées lors de cette 1ère étape seront communiquées par mail de manière individuelle.
                </p>
                <p>
                    Les 12 candidates sélectionnées à l’issue de la 2ème étapes s’engagent à être disponible la semaine 19 et 27 de l’année 2018.
                </p>
                <p>
                    Il est demandé aux candidats de ne pas emporter d'objets de valeurs car en cas de perte, de vol ou de détérioration, l’entreprise organisatrice décline toute responsabilité.
                </p>
                <p>
                    La participation à ce concours implique l’acceptation du présent règlement par les concurrents. Son nom respect entraînera l’annulation de la candidature.
                </p>
                <a href="reglement.pdf" target="_blank">Réglement complet</a>
            </div>
        </div>
    </div>
{% endblock %}
