{% extends "base.html.twig" %}

{% block body %}
    <div class="container heading profil">
        <div class="row">
            <div class="col-md-6">
                Mes favorites (temporaire) : {% for favorite in user.favorites %}{{ favorite.id }}{% endfor %}
                {% if user.candidate %}
                    {% include 'partials/_user.html.twig' with { 'user': user} %}
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if not user.candidate %}
                    <a href="{{ path('user_candidate') }}" class="text-center btn btn-primary btn-block">
                        Participer au casting
                    </a>
                {% endif %}
                <a href="#" class="text-center btn btn-outline-primary btn-block">
                    Modifier mes informations
                </a>
            </div>
        </div>
    </div>
{% endblock %}